.venv/
.env
data/watch-history.json
data/search-history.json
exported/watch_history.db
data/Streaming_History_Audio_2021-2024_0.json
data/Streaming_History_Audio_2024-2025_1.json
data/Streaming_History_Audio_2025_2.json
exported/streaming_history.db